@model Student;

<h4>Add Student:</h4>
<hr>
<form  method="post">
     <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control"  asp-for="Name">
        <span asp-validation-for="Name"></span>
     </div>
      <div class="form-group">
        <label for="Name">Age:</label>
        <input type="number" class="form-control"  asp-for="Age">
        <span asp-validation-for="Age"></span>
     </div>
     <br>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>


